.legendables {
  z-index: 1;
  position: absolute;
  left: 8px;
  bottom: 8px
}

.legend {
  font-size: 11px;
}

.legend .header {
  border-bottom: 1px solid #e2e2e2;
  color: #a7a7a7;
  font-weight: bold;
  margin: 4px 4px 0 4px;
  position: relative;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.legend .header .title-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.nominal-legend {
  background: rgba(255, 255, 255, 0.9);
  max-width: 160px;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  font-size: 11px;
  min-width: 100px;
}

.nominal-legend.legendables {
  border: 1px solid white;
}

.nominal-legend .body {
  overflow-y: auto;
  padding: 0 4px 4px 4px;
}

.nominal-legend .legend-row {
  display: flex;
  align-items: center;
  cursor: default;
  min-height: 16px;
}

.nominal-legend .legend-row .color {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}

.nominal-legend .legend-row .text {
  flex-grow: 1;
  padding: 4px;
  line-height: 1;
}

.gradient-legend {
  display: flex;
  flex-direction: column;
  z-index: 2;
  max-width: 160px;
}

.gradient-legend.legendables {

}

.gradient-legend.with-header {
  background: rgba(255, 255, 255, 0.9);
}

.gradient-legend .range {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.gradient-legend .block {
  float: left;
  position: relative;
  height: 32px;
}

.gradient-legend .block .color {
  height: 12px;
  width: 12px;
  border: 1px solid white;
}

.gradient-legend .block .text {
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  left: 6px;
  color: #868686;
  font-size: 10px;
  padding: 2px 2px 0 2px;
  background: hsla(0,0%,100%,.4);
}

.gradient-legend .block .step {
  display: none;
}

.gradient-legend .block:hover .step {
  display: block;
}

.gradient-legend:hover .block:not(:hover) .color {
  opacity: .4;
}

.gradient-legend .block:hover .extent span {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.gradient-legend .block .text input {
  display: none;
}

.gradient-legend .block:hover .text input {
  position: relative;
  display: inline-block;
  margin: 0 16px 0 16px;
}

.gradient-legend .block input {
  height: 16px;
  width: 32px;
  min-width: 32px;
  border: 1px solid #c7c7c7;
  text-align: center;
  float: left;
  overflow: visible;
  outline: none;
}


.gradient-legend .unlocked:not(:hover) {
  opacity: 0;
}

.gradient-legend .lock {
  width: 15px;
  height: 15px;
}

.gradient-legend .lock svg {
  fill: #a7a7a7;
}

.gradient-legend .lock:hover {
  cursor: pointer;
}

.gradient-legend .lock:hover svg {
  fill: #22a7f0;
}


.tick {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.tick.open {
  transform: rotate(180deg);
}
