$blue-main: #22A7F0;

.legendables {
  z-index: 1;
  position: absolute;
  left: 8px;
  bottom: 8px;
  background: rgba(255, 255, 255, .9);
  border-radius: 2px;
  border: solid 1px #e2e2e2;
  overflow: auto;
  font-size: 11px;

  &.top-right {
    right: 16px;
    top: 8px;
    bottom: auto;
    left: auto;
  }

  &:hover {
    background: white;
  }

  &.collapsed {
    min-width: 0 !important;

    .legend {
      display: none;
    }

    .header {
      display: none;
    }

    .open-toggle {
      position: relative;
      background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><rect x='8' y='8' fill='%23EA5545' width='8' height='8'/><rect x='8' y='20' fill='%2387BC43' width='8' height='8'/><rect x='8' y='32' fill='%233EA3DB' width='8' height='8'/><rect x='20' y='10' fill='%23C7C7C7' width='20' height='4'/><rect x='20' y='22' fill='%23C7C7C7' width='20' height='4'/><rect x='20' y='34' fill='%23C7C7C7' width='20' height='4'/></svg>");
      background-size: cover;

      &:before, &:after {
        display: none;
      }
    }
  }

  .open-toggle {
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 5;

    &:before, &:after {
      position: absolute;
      width: 2px;
      height: 16px;
      background: #a7a7a7;
      content: "";
      left: 11px;
      top: 4px;
    }

    &:before {
      transform: rotate(-45deg) scale(.6);
    }

    &:after {
      transform: rotate(45deg) scale(.6);
    }

    &:hover {
      &:before, &:after {
        background: #22A7F0;
      }
    }

  }

  &.show-ticks {
    .tick {
      display: block;
    }
  }

  .tick {
    display: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    right: -4px;
    top: 0;

    &:after {
      width: 10px;
      height: 10px;
      border: 2px solid #a7a7a7;
      content: "";
      transform: translate(-2px, -2px) scale(.6) rotate(45deg);
      border-left: 0;
      border-top: 0;
      position: absolute;
      top: 8px;
      left: 8px;
    }

    &:hover:after {
      border-color: $blue-main;
    }
  }

  .header {
    color: #a7a7a7;
    font-weight: bold;
    margin: 0 4px 0 4px;
    position: relative;
    height: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #e2e2e2;
  }

  .title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 24px;
  }

  .legend {

    &.open {
      .tick:after {
        transform: translate(-1px, 0) scale(.6) rotate(-135deg);
      }
    }

    &:not(.open):last-child {
      .header {
        border: none;
      }
    }

  &:nth-child(2) {
      .tick {
          right: 16px;
      }
      .header {
        padding-right: 36px;
      }
    }
  }

  &.nominal-legend {
    max-height: 50%;
  }

  &.gradient-legend {
    background: none;
    overflow: visible;
    border: none;
    left: 0;
    bottom: 0;
  }

  .gradient-legend {
    position: relative !important;
  }
}

.nominal-legend {
  max-width: 160px;
  min-width: 100px;
}

.nominal-legend.legendables {
  border: 1px solid white;
}

.nominal-legend .body {
  overflow-y: auto;
  padding: 0 4px 4px 4px;
}

.nominal-legend .legend-row {
  display: flex;
  align-items: center;
  cursor: default;
  min-height: 16px;
}

.nominal-legend .legend-row .color {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}

.nominal-legend .legend-row .text {
  flex-grow: 1;
  padding: 4px;
  line-height: 1;
}



.gradient-legend.legendables {

}

.gradient-legend .range {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.gradient-legend .block {
  float: left;
  position: relative;
  height: 32px;
}

.gradient-legend .block .color {
  height: 12px;
  width: 12px;
  border: 1px solid white;
}

.gradient-legend .block .text {
  white-space: nowrap;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  left: 6px;
  color: #868686;
  font-size: 10px;
  padding: 2px 2px 0 2px;
  background: hsla(0,0%,100%,.4);
}

.gradient-legend .block .step {
  display: none;
}

.gradient-legend .block:hover .step {
  display: block;
}

.gradient-legend .block:hover .extent span {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.gradient-legend .block input {
  height: 16px;
  width: 32px;
  min-width: 32px;
  border: 1px solid #c7c7c7;
  text-align: center;
  float: left;
  overflow: visible;
  outline: none;
}


.gradient-legend .lock {
  width: 15px;
  height: 15px;
}

.gradient-legend .lock svg {
  fill: #a7a7a7;
}

.gradient-legend .lock:hover {
  cursor: pointer;
}

.gradient-legend .lock:hover svg {
  fill: #22a7f0;
}

.horizontal-lasso-tools {
  .mapd-draw-button-control-group {
    display: flex;

    button {
      flex-grow: 1;
    }
  }
}

.gradient-legend {
  display: flex;
  flex-direction: column;
  z-index: 2;
  max-width: 160px;

  .lock {
    position: absolute;
    right: 4px;
    bottom: 18px;

    &:not(.locked) {
      opacity: 0;
    }
  }

  &:hover {
    .lock {
      opacity: 1;
    }
  }

  .range {
    padding: 4px 0 0 0;
    margin: 0 20px 0 12px;
  }

  .range:hover {
    .block:not(:hover) {
      .extent {
        display: none;
      }
    }

    .block:not(:hover) .color {
      opacity: .4;
    }
  }

  .block {
    input {
      display: none;
    }
    &:hover {
      .extent {
        input {
          display: inline-block !important;
        }

        background: none;

        span {
          display: none;
        }
      }
    }
  }
}

